<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Board Members</h2>
                    <h3 class="section-subheading text-muted">Meet our 2021-2022 Allegheny ESports Board Members!</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"><b>Gabe Schwartz, </b><i>President</i></h4>
                    <p class="text-muted">Short bio consisting of: year, major/minor, preferred games, what team they are on (if any), and a fun fact.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"><b>Hadi Alkhafaji, </b><i>Vice President</i></h4>
                    <p class="text-muted">Short bio consisting of: year, major/minor, preferred games, what team they are on (if any), and a fun fact.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"><b>Name, </b><i>Position</i></h4>
                    <p class="text-muted">Short bio consisting of: year, major/minor, preferred games, what team they are on (if any), and a fun fact.</p>
                </div>
            </div>
        </div>
    </section>
